.bluebgwarpper{
    position: absolute;
    top: 430vh;
    z-index: -20;
}

.bluebg {
    width: 100vw;
    height: 110vh;
    background-color: #0967AA;
}

.startwaves{
    width: 100%;
}

.endwave{
    width: 100%;
}