.member{
    width: fit-content;
    h3{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;

        text-align: center;

        color: #FDFEFF;
        transform: translate(13px, 15px);
    }

    img{
        width: 151px;
        height: 151px;
        border-radius: 151px;
        border: 5px solid rgb(255, 255, 255);
    }
    svg{
        transform: translate(15px, 45px);
        z-index: -5;
    }
    p{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: justify;
        transform: translate(40px,12px);
        color: #FFF;

    }
}